@charset "utf-8";

/* @group Fluid-img */
img { 
	max-width : 100%;
}
/* @end */

/* @group HTML */
html {
	font-family : verdana, sans-serif;
	font-size : 75%; /*レスポンシブタイプセッティングの指定*/
	line-height : 1.5;
}
/* @end */

/* @dody */
body{
	width: 100%;
	height: 100%;
	margin: auto 0;
	padding: 0;
	background-color: #f7e7e9;
}
/* @end */

/* floatの解除する */
.clear{
	overflow: hidden;
}
/* end */

/* @group Heading */
h1 {
	font-size : 3em; /* 48px */
	line-height : 1; /* 48px */
	margin-bottom : 0.5em;
} 

h2 {
	font-size : 2.25em; /* 36px */
	line-height : 1.3333; /* 48px */
	margin-bottom : 0.6667em;
} 

h3 {
	font-size : 1.5em; /* 24px */
	line-height : 1; /* 24px */
	margin-bottom : 1em;
} 

hgroup h2,h4,h5,h6 {
	font-size : 1em; /* 16px */
	line-height : 1.5; /* 24px */
	margin-bottom : 1.5em;
} 
/* @end */

/* @group Header */
header { 
	text-align : center;
	background-color: #55ACEE;
}

footer{
   /*clear:both;　/*floatの解除*/
   margin: auto 0;
   padding-top: 0.5em;
   padding-bottom: 1em;
   text-align: center;
   background-color: #55ACEE;
}